# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
.cache/

# Environment
.env
.env.local

# Large media
# assets/video/*.mp4
# assets/images/hero/*.jpg
assets/images/galerie/
*.zip
.vercel
